.collection-list {
  position: fixed;
  bottom: 0;
  height: 80vh;
  overflow: auto;
}

.collection-list__list-item {
  white-space: nowrap;                   
  overflow: hidden;
  text-overflow: ellipsis;  
  width: 300px;

  direction: rtl;
  text-align: left;
}

.options__max-range {
  width: 40px;
}