<nav
  *ngIf="currentCollection$ | async as collection"
  class="collection-list">
  <span>Search </span>
  <input
    type="search"
    (input)="onSearchInput($event.target.value)">
  <br>
  <span>children</span>
  <input
    type="checkbox"
    (input)="onLookUpOptionChange($event.target.checked)">
  <span>max depth</span>
  <input
    class="options__max-range"
    type="number"
    min="0"
    value="2"
    (input)="onMaxDepthOptionChange($event.target.value)">
  <span>max nodes</span>
  <input
    class="options__max-range"
    type="number"
    min="0"
    value="100"
    (input)="onMaxNodesOptionChange($event.target.value)">
  <ul>
    <li
      *ngFor="let collectionItem of collection"
      class="collection-list__list-item">
      <a
        [routerLink]="['/webpack/tree', 'module', collectionItem.id]">
        {{ collectionItem.name }}
      </a>
    </li>
  </ul>
</nav>
<p
  *ngIf="graphData$ | async as graphData">Nodes: {{graphData.nodes.length}}</p>
<app-tree
  [graphData]="graphData$ | async"></app-tree>
