<svg
  *ngIf="graph$ | async as graph"
  #svg [attr.width]="getOptions().width"
  [attr.height]="getOptions().height">
  <g [zoomableOf]="svg">
    <g [linkVisual]="link" *ngFor="let link of graph.links"></g>
    <g
      [nodeVisual]="node"
      *ngFor="let node of graph.nodes"
      [draggableNode]="node"
      [draggableInGraph]="graph"></g>
  </g>
</svg>