<svg:g
  class="node"
  [attr.transform]="'translate(' + node.x + ',' + node.y + ')'"
  [routerLink]="['/webpack/tree/module', node.id]">
  <svg:circle
    class="node-circle"
    cx="0"
    cy="0"
    [attr.r]="node.radius">
  </svg:circle>
  <svg:text
    class="node-label"
    [attr.font-size]="node.fontSize">
    {{node.id}}
  </svg:text>
  <svg:text
    class="node__extra-info"
    transform="translate(0,-25)">
    {{ node.name }}
  </svg:text>
</svg:g>