.node {
  // cursor: pointer;
  transition: stroke-width 0.1s ease-out,
      fill 0.1s ease-out,
      stroke 0.1s ease-out;

  stroke: white;
  stroke-width: 0.25;
}

.node-label {
  font-family: 'Lato';
  text-anchor: middle;
  alignment-baseline: central;
  font-weight: 300;
  fill: white;
}

.node__extra-info {
  display: none;
  font-family: 'Lato';
  text-anchor: middle;
  font-weight: 300;
  // visibility: hidden;
}

.node:hover .node__extra-info {
  display: block;
  // visibility: visible;
}